@import "../../global.scss";
.portfolioList{

    font-size: 20px;
    margin-right: 50px;
    padding: 1px;
    // border: 10px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    overflow: hidden;

    @include mobile{
        margin-right: 10px;
        border: 2px;
        font-size: 14px;
        font-weight: 500;
    }
    
    &.active{
        background-color: $mainColor;
        color: white;
    }
}